<ul class="list-group" >
  <li class="list-group-item"> <%= @api_config.name %></li>
  <li class="list-group-item"> <%= @api_config.key %></li>
  <li class="list-group-item"> <%= @api_config.secret %></li>
  <li class="list-group-item"> <%= @api_config.token %></li>
  <li class="list-group-item"> <%= @api_config.token_secret %></li>
</ul>