<h1 class="col-sm-8 col-md-offset-2">Log in</h1>
<div class="col-sm-8 col-md-offset-2 well" >
<%= simple_form_for :sessions, { url: sessions_path } do |f| %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.button :submit, "Sign In" ,class: 'btn btn-primary btn-lg' %>
     <%= link_to 'Reset password', reset_pass_path %>
<% end %>
</div>