<h1 class="col-sm-8 col-md-offset-2">Sign Up</h1>
<div class="col-sm-8 col-md-offset-2 well" >
<%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if allow_param? :user, :isAdmin  %>
        <%= f.input :isAdmin %>
    <%end%>
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>

<% end %>
</div>