<div class="col-md-4" id="sortableColumnsList<%=column.id%>">
  <h4><%= column.name %></h4>
  <%= link_to '',edit_project_column_path(@project,column),remote: true ,:id => 'editColumn', data:{toggle:"popover",container:"body",placement:"bottom"},:class => 'btn btn-mini glyphicon glyphicon-pencil' %>

  <%= link_to '',project_column_path(@project,column),
              :method => :delete,
              remote: true,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini glyphicon glyphicon-remove' %>

  <ul class="connectedSortable sortableColumnsList" id="ticketsList">

    <%column.tickets.each do |ticket|%>

    <%= render  'tickets/ticket',column:column, ticket:ticket %>
    <%end%>


  </ul>
  <%= link_to "+ Ticket", new_column_ticket_path(column), remote:true , id:"createNewTicket", data:{toggle:"popover",container:"body",placement:"bottom"}, class:"btn btn-mini glyphicon" %>

</div>


<script>
    $(function() {
        $(".sortableColumnsList" ).sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });
</script>


