<div class="col-md-4 well" id="twitterWidget">
  <ul class="list-group">
    <li class="list-group-item well">
      <a target="_blank" href="<%= @user.uri %>">
        <img alt="<%= @user.profile_image_url %>" src="<%= @user.profile_image_url %>">
    <span>
      <span><%= @user.name %></span>
    </span>
        <span>@<b><%= @user.screen_name %></b></span>
      </a>
      <div>
        <% @timeline.each do |t| %>
            <p><b><%= t.text %></b></p>
            <div class="row">
              <div class="col-sm-3" >
                <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/tweet?in_reply_to=<%= t.id %>"><b>Ответить</b></a>
              </div>
              <div class="col-sm-3">
                <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/retweet?tweet_id=<%= t.id %>"><b>Ретвитнуть</b></a>
              </div>
              <div class="col-sm-3">
                <a target="_blank" class="btn btn-xs" href="https://twitter.com/intent/favorite?tweet_id=<%= t.id %>"><b>В избранное</b></a>
              </div>
            </div>
        <%end%>
      </div>
    </li>
  </ul>
  <a target="_blank" href="https://twitter.com/intent/tweet?screen_name=<%= @user.screen_name %>" >Отправить твит @<%= @user.screen_name %></a>
</div>
<script>
    $(function() {
        $( "#twitterWidget" ).draggable();
    });
</script>