<div id="modal-edit-user">
<%= simple_form_for @user, remote: true, :html =>{ :class => 'form-horizontal' } do |f| %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>


      <div class="modal-footer">
        <a href="#" class="btn btn-danger btn-lg" data-dismiss="modal" >Close</a>
        <%= f.button :submit, class: 'btn btn-success btn-lg' %>
      </div>
<% end %>
</div>