<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top clearfix">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GrowUp</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li <% if current_page?(root_path)%>class="active"<%end%>><%= link_to "Home", root_path %></li>
        <% if allow? :users, :index %><li <% if current_page?(users_path)%>class="active"<%end%> > <%= link_to "Admin page", users_path %> </li><%end%>
        <% if allow? :users, :show  %><li <% if current_page?(user_path(session[:user_id]))%>class="active"<%end%> > <%= link_to "Profile", user_path(session[:user_id]) %> </li><%end%>
        <% if allow? :uploads, :new  %><li <% if current_page?(new_upload_path)%>class="active"<%end%> > <%= link_to "Upload Files",  new_upload_path%> </li><%end%>
        <% if allow? :organizations, :index %><li <% if current_page?(organizations_path)%>class="active"<%end%> > <%= link_to "Organizations",  organizations_path%> </li><%end%>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
            <li><p class="navbar-text">Logged in as <%= current_user.email %></p></li>
            <li><%= link_to "Log out", log_out_path %></li>
            <li><%= link_to 'Edit', edit_user_path(session[:user_id]), remote: true, class: "btn btn-mini" %></li>

        <% else %>
            <li><%= link_to "Sign up", sign_up_path %></li>
            <li><%= link_to "log in", log_in_path %></li>
        <% end %>

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id="content" class="container">
  <%= yield :container %>
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <% if notice %>
          <div class="alert alert-success alert-dismissible" id="alertNotice" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
      <% end %>
      <!--<% flash.each do |name, msg| %>-->
          <!--<%= content_tag :div, msg, :id => "flash_#{name}" %>-->
      <!--<% end %>-->
      <div id="content">
        <%= yield %>
      </div>

    </div>
  </div>
</div>
</div>


<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit User</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


</body>
</html>
